@model Project.ViewModels.VMProduct.ProductCreateViewModel

@{
    ViewData["Title"] = "新增商品";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
       
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          
            <div class="form-group">
                <label asp-for="ProductSKU" class="control-label">產品SKU</label>
                <input asp-for="ProductSKU" class="form-control" />
                <span asp-validation-for="ProductSKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">產品名稱</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">產品描述</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModelID" class="control-label">產品對應模型</label>
                <select asp-for="ProductModelID" class="form-control" asp-items="Model.ProductModelList"></select>
                <span asp-validation-for="ProductModelID" class="text-danger"></span>
            </div>

            <div id="specsContainer" class="mt-3">

            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">價格</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input asp-for="IsSerialized" class="form-check-input" />
                <label asp-for="IsSerialized" class="form-check-label">是否序號化</label>
                <span asp-validation-for="IsSerialized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageFile" class="control-label">產品照片</label>
            
                <input asp-for="ProductImageFile" type="file"  id="formFile" class="form-control" />
                <span asp-validation-for="ProductImageFile" class="text-danger"></span>
              
            </div>


            <div class="form-group mt-3">
                <input type="submit" value="建立" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">返回列表</a>
            </div>

           
        </form>
    </div>
            <div class="col-md-6">
            <img id="imagePreview" src="#" alt="圖片預覽" class="img-fluid mt-2" style="display: none;  border-radius: 5px;" />
         </div>
</div>

 



 
   
     @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // 備註：只需要一個 document.ready 來包裹所有頁面載入後要執行的功能
        $(document).ready(function () {

            // --- 功能一：動態載入規格 ---
            $('#ProductModelID').on('change', function () {
                var modelId = $(this).val();
                var specsContainer = $('#specsContainer');
                specsContainer.empty(); // 清空舊的規格

                if (modelId) {
                    $.getJSON('/Admin/Products/GetSpecsForModel?modelId=' + modelId, function (data) {
                        if (data && data.length > 0) {
                            $.each(data, function (i, group) {
                                var groupHtml = '<div class="mb-3"><h5>' + group.groupName + '</h5>';
                                $.each(group.specs, function(j, spec) {
                                    groupHtml += '<div class="form-check form-check-inline">';
                                    groupHtml += '<input class="form-check-input" type="checkbox" name="SelectedSpecIds" value="' + spec.modelSpecID + '" id="spec' + spec.modelSpecID + '">';
                                    groupHtml += '<label class="form-check-label" for="spec' + spec.modelSpecID + '">' + spec.specValue + '</label>';
                                    groupHtml += '</div>';
                                });
                                groupHtml += '</div>';
                                specsContainer.append(groupHtml);
                            });
                        }
                    });
                }
            });

            // --- 功能二：圖片上傳預覽 ---
            // 備註：選擇器已修正為 #ProductImageFile，與 asp-for="ProductImageFile" 保持一致
            $('#ProductImageFile').on('change', function (event) {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imagePreview')
                            .attr('src', e.target.result)
                            .show();
                    };
                    reader.readAsDataURL(this.files[0]);
                } else {
                    $('#imagePreview').attr('src', '#').hide();
                }
            });

        });
    </script>
}




