@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "使用者管理";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>使用者 ID</th>
            <th>使用者名稱 (Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>
                    <a asp-action="ManageRoles" asp-route-userId="@user.Id" class="btn btn-primary btn-sm">管理角色</a>
                </td>
            </tr>
        }
    </tbody>
</table>